.success{
     display: none;
     margin-left: 10px;
 }

.error{
    color: red;
    margin-left: 10px;
}

.init{
    display: none;
    margin-left: 10px;
}

input.invalid{
    border: 2px solid red;
}

input.valid{
}